<footer>
    <div class="card">
        <div class="heading text-center">
            <div class="head1 mb-3">Franco Assicurazioni</div>
            <p class="bdr"></p>
        </div>
        <div class="card-body">
            <div class="row m-0 pt-5">
                <div class="card col-12 col-md-3">
                    <div class="card-content"> <i class="fas fa-hand-holding-usd fa-3x"></i>
                        <div class="card-title">LOREM IPSUM DOLOR</div>
                        <p><small>Lorem ipsum dolor sit amet consectetur</small></p>
                        <div class="learn-more">
                            <p><small>LEARN MORE</small></p>
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-md-3">
                    <div class="card-content"> <i class="far fa-handshake fa-3x"></i>
                        <div class="card-title"> LOREM IPSUM DOLOR SIT </div>
                        <p><small>Lorem ipsum dolor sit amet consectetur adipisicing.</small></p>
                        <div class="learn-more">
                            <p><small>LEARN MORE</small></p>
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-md-3">
                    <div class="card-content"> <i class="fas fa-mobile-alt fa-3x"></i>
                        <div class="card-title"> LOREM IPSUM DOLOR </div>
                        <p><small>Lorem ipsum dolor sit amet consectetur adipisicing elit.</small></p>
                        <div class="learn-more">
                            <p><small>LEARN MORE</small></p>
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-md-3">
                    <div class="card-content"> <i class="fas fa-user-secret fa-3x"></i>
                        <div class="card-title"> LOREM IPSUM </div>
                        <p><small>Lorem ipsum dolor sit.</small></p>
                        <div class="learn-more">
                            <p><small>LEARN MORE</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer row m-0">
            <small class="text-muted">P.I 38497191481041 &COPY;Franco assicurazioni, tutti i diritti riservati.</small>
            <div>
                <p> <small class="text-muted">SEGUICI SUI SOCIAL MEDIA</small> <label class="footer-right"><i
                            class="bi bi-instagram"></i><i class="bi bi-facebook"></i><i class="bi bi-linkedin"></i><i
                            class="bi bi-twitter"></i></label></p>
            </div>
        </div>
    </div>
</footer>