.body {
    background-color: rgb(39, 38, 38);
}

.body .bottoni button {
    margin-top: 30px;
}

table td {
    border-top: 1px solid black;
}

/* table th {
    border-bottom: 1px solid black;
} */

.rotonda {
    border-radius: 20px;
}

.modal-header {
    border-bottom: 1px solid black;
}

.modal-footer {
    border-top: 1px solid black;   
}

.modal-body,
.modal-header,
.modal-footer,
.modalebreadcrumb {
    background-color: #FFB74D;
    color: white;
}